@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100vw;
    height: 95vh;
    gap: 50px;
    font-size: 20px;
}

footer {
    display: flex;
    justify-content: center;
}

.date-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.date-units {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
    font-weight: bold;
    width: 300px; /* Increased width for results */
}

.date {
    width: 120px;
}

.date-unit-select {
    width: 150px; /* Adjusted width */
}

.date, .date-unit-select {
    font-size: 15px;
    padding: 5px;
}

/* Added styles for the multi-select */
.date-unit-select[multiple] {
    background-color: #222;
    color: white;
    border: 1px solid #555;
    padding: 5px;
}

.date-unit-select[multiple] option {
    padding: 5px;
}

.date-unit-select[multiple] option:checked {
    background-color: #007bff;
    color: white;
}


.date-container, .date-unit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.date-container label, .date-unit label {
    width: 120px;
    text-align: center;
}

.date-units span {
    width: 400px;
}
